*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 13px;
    background: hsl(0, 0%, 81%);

}
.main{
    margin: 9% 9%;
    grid-area: main;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-areas: " item1 item1 item2 item5 "
                         " item3 item4 item4 item5 "
                                                      ; 
     grid-gap: 25px;     
}
.item{
    border:none;
    border-radius: 10px;
    font-weight: 500;
}

.item1{
    grid-area: item1;
    background: hsl(263, 55%, 52%);
    z-index: -1;
    
}
.item2{
    grid-area:item2 ;
    background: hsl(217, 19%, 35%);
}
.item3{
    grid-area: item3;
    background: hsl(0, 0%, 100%);
}
.item4{
    grid-area: item4;
    background: hsl(219, 29%, 14%);
}
.item5{
    grid-area: item5;
    background: hsl(0, 0%, 100%);
}
 [src$="jpg"]{ 
    border-radius: 50%;
    width:2.5vw;
    margin-left: 20px;
    margin-top:20px ;
}
[src$="svg"]{
    position: absolute;
    left: 37%;
    z-index: -1;
}
figure{
    display: flex;
}
figcaption{
    position: relative;
    top: 20px;
    left: 20px;
    
}
figcaption h5{
    color: white;
}
figcaption p{
    color: white;
    opacity: 50%;
}
h3{
    margin-top:20px;
    margin-left: 24px;
    margin-right:24px;
    font-weight: 600;
    color: white;
    letter-spacing: 1px;
}
.color{
    color: black;
}
.quoted{
    margin-top:20px;
    margin-left: 24px;
    margin-right:24px;
    font-weight: 600;
    opacity: 70%;
}
.coloured{
    color: black;
}
#coloured{
    color: black;
}


@media screen and (max-width:375px) {
    body{
        font-size: 10px;
    }
    .main{
        margin-right: 28px;
        margin-top: 24px;
        margin-bottom: 24px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        
    }
    .item{
        font-size: .8rem;
        margin: 15px;
    }
    h3{
        letter-spacing: 0;
    }
    [src$="jpg"]{ 
        border-radius: 50%;
        width:30px ;
        margin-left: 20px;
        margin-top:20px ;
    }
    [src$="svg"]{
        width:30%;
        left: 50%;
    }

}
